.about-img-container {
  width: 100%;
  height: 234px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.45) 100%), url(<path-to-image ), darkgray 0px -65.191px / 100% 178.109% no-repeat;
}

.about-img-container img {
  object-fit: cover;
}

.abt-title-cont {
  padding: 27px;
}

.abt-title-cont>h2 {
  all: unset;
  color: #161616;
  font-family: Inter;
  font-size: 30px;
  font-weight: 600;
  line-height: 38px;
}

.abt-p-cont {
  padding-left: 27px;
  padding-right: 27px;
}

.abt-p-cont>p {
  color: #161616;
  font-family: Inter;
  font-weight: 500;
  line-height: 22px;
}

.abt-card-cont {
  padding-left: 27px;
  padding-right: 27px;
}

.abt-card {
  margin: 53px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 170px;
  border-radius: 5px;
  background: #f3b66c;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.abt-card>p {
  color: #161616;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  width: 320px;
}

.explore-container {
  width: 100%;
}

.abt-card .explore {
  margin-top: 20px;
  width: 100%;
  padding: 13px 22px 12px 22px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #161616;
  transition: background-color 0.3s ease;
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

/* Add the click effect on :active */
.abt-card>.explore:active {
  background: #000;
  /* Change the background color when the .explore is clicked */
}


/* .abt-card>.explore>p {
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
} */