/* ############ Nav ############ */
nav {
  padding-top: 36px;
  padding-bottom: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  background: #FFF7ED;
}

nav>a {
  all: unset;
}

nav>a {
  cursor: pointer;
}

.logo {
  font-family: inter;
  font-size: 25px;
  font-weight: 900;
  line-height: 40px;
}

ul {
  display: flex;
  gap: 1.3rem;
}

.link {
  all: unset;
  color: #4D4D4D;
  cursor: pointer;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
}

.link:hover {
  font-family: Inter;
  font-weight: 500;
  color: #d08234;
  text-decoration: underline;
}

.logo:hover {
  text-decoration: underline overline;
}

.active:hover {
  text-decoration: underline double;
}