.host-vans-description {
  color: #161616;
  font-family: Inter;
  font-size: 14.355px;
  font-weight: 700;
  line-height: 21.46px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.host-vans-description span {
  color: #161616;
  font-family: Inter;
  font-size: 14.355px;
  font-style: normal;
  font-weight: 500;
  line-height: 21.46px;
}